* {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
}

.header {
   background: #ff7766;
   width: 100%;
   height: 90px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.date {
   margin: 0;
   color: white;
}

.header h1 {
   color: #fff;
   font-weight: 400;
   margin: 10px 0;
}

main {
   padding: 20px;
}
.container {
   /*   border:1px solid red; */
   max-width: 700px;
   margin: auto;
}

.add-todo-text {
   border-radius: 5px;
   border: 0.5px solid #aaa;
   height: 40px;
   width: 100%;
   padding-left: 15px;
   font-size: 20px;
}

.todo-list {
   position: relative;
}
.add-todo-button {
   margin: 20px 0;
   width: 100px;
   height: 40px;
   background: #ff7766;
   border: none;
   border-radius: 3px;
   color: #fff;
   cursor: pointer;
}

.img-container {
   width: 20px;
   height: 20px;
   cursor: pointer;
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.img-container img {
   width: 100%;
}

hr {
   height: 1px;
   background: #ccc;
   border: none;
   margin-bottom: 0;
}

.text {
   margin-left: 40px;
}
/* Customize the label (the container) */
.checkbox-container {
   display: flex;
   position: relative;
   margin-bottom: 30px;
   margin-top: 30px;
   margin-right: 40px;
   cursor: pointer;
   font-size: 18px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom checkbox */
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   border: 1.5px solid #aaa;
   border-radius: 100%;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
   background-color: #ff7766;
   border: 1.5px solid #ff7766;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
   background-color: #ff7766;
   border: 1.5px solid #ff7766;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
   display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
   left: 7px;
   top: 3px;
   width: 3px;
   height: 10px;
   border: solid white;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.line-through {
   text-decoration: line-through;
}
